@if (image.choices) {
  <div class="flex flex-col fixed top w-full bg-white z-30">
    @if (image.title) {
      <h1 class="m-auto">{{ image.title }}</h1>
    }

    <div class="flex flex-row">
      @for (choice of image.choices; track image.id) {
        <button
          (click)="goTo(choice.nextSequence)"
          class="m-auto p-2 bg-gray-200 rounded-md shadow-md hover:bg-gray-300"
        >
          {{ choice.buttonLabel }}
        </button>
      }
    </div>
  </div>
}

<div class="flex flex-row fixed top w-full bg-white z-10 h-screen">
  @if (image.text) {
    <p class="m-auto fixed right-0 w-2/4 z-20">{{ image.text }}</p>
  }
  @if (isStaticImage(image)) {
    <div class="h-auto w-full" style="background-image: url({{ image.file }}); background-size: contain; background-repeat: no-repeat; background-position: center;" [ngClass]="{'fixed left-0 img-50': image.text}"></div>

  } @else if (isAnimatedImage(image)) {
    <div class="h-auto w-full" style="background-image: url({{ currentFile }}); background-size: contain; background-repeat: no-repeat; background-position: center;" [ngClass]="{'fixed left-0 img-50': image.text}"></div>
  }
  @if (image.soundEffect) {
    <audio [src]="image.soundEffect" autoplay></audio>
  }
</div>
