<div class="flex items-center justify-center h-screen">
  <div class="bg-white-800 p-8 rounded-lg shadow-lg">
    <div class="flex flex-col space-y-4 mt-4">
      <h1 class="text-2xl font-bold text-gray-900">
        Les Taras
      </h1>
      <h2 class="text-lg font-semibold text-gray-900">
        Le mariage <small>ou pas...</small>
      </h2>
      <button (click)="goToCoffee()" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">
        Commencer
      </button>
      <button (click)="wait()" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">
        Pas maintenant
      </button>
    </div>
  </div>
</div>
<img ngSrc="/home/theo.png" alt="Theo" class="Theo" height="599" width="369">
<img ngSrc="/home/nara.png" alt="Nara" class="Nara" height="585" width="326">
